.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}
.ng-dirty.ng-invalid.ng-invalid-required {
  border-color: #a94442;
}

.ng-dirty.ng-invalid.ng-invalid-email {
  border-color: #cccc00;
}

.requiredlbl {
  color: #a94442;
}

.warninglbl {
  color: #cccc00;
}